<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConsoleWrapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <ConsoleWrapper.Properties.Settings>
            <setting name="WrapApplication" serializeAs="String">
                <value>TestApp.exe</value>
            </setting>
            <setting name="HideAppWrapperConsole" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AwaitForInputToEndOrCtrlC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DbgMsgEnd" serializeAs="String">
                <value>True</value>
            </setting>
        </ConsoleWrapper.Properties.Settings>
    </userSettings>
</configuration>